body {
  background-color: #00ace6;
  font-family: sans-serif;
}

header {
  width: 690px;
  margin: 0px auto;
  height:274px;
  background-image: url("grfx/header.jpg") ;
}

article {
    margin: 13px;
    height: 400px;
    width: 200px;
  }

Main {
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: 630px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.column-1 {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 400px;
  width: 200px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 400px;
  width: 200px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 200px;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}


h1 {
  font-family: sans-serif;
  color: white;
}
